<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Carro de Compra</title>
</head>
<body>
	<h1>Carro de compra</h1>
	
	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col">Id Producto</th>
	      <th scope="col">Nombre</th>
	      <th scope="col">Precio</th>
	      <th scope="col">Cantidad</th>
	    </tr>
	  </thead>
	  <tbody>
		<tr th:each="itemBoleta : ${listaItemBoleta}"> 
			<th th:text=${itemBoleta.producto.idProducto}> 
			<th th:text=${itemBoleta.producto.nombre}>
			<th th:text=${itemBoleta.producto.precio}>
			<th th:text=${itemBoleta.cantidad}>
		<tr>
	  </tbody>
	</table>
	
	<form th:action="@{/carroCompra/resumenPago}" method="POST">
	
	<input type="text" name="total" th:value="${total}">
	
	  <div class="form-group">
	    <label for="formaPago">Forma de Pago</label>
	    <input type="radio" name="formaPago" value="efectivo">
	  	<label for="efectivo">Efectivo</label><br>
	  </div>
	  
	  <div class="form-group">
	    <label for="efectivoRecibido">Efectivo Recibido</label>
	    <input type="text" class="form-control" id="efectivoRecibido" name="efectivoRecibido">
	  </div>

	  <button type="submit" class="btn btn-primary">Confirmar Pago</button>
	</form>
	
	
</body>
</html>