<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Inicio</title>
</head>
<body>
	<h1>Bienvenidos</h1>

	<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pulvinar et sapien a rutrum. Nullam tempor libero ut facilisis vestibulum. Donec id efficitur tortor. Pellentesque dapibus quis nulla in consectetur. Quisque in efficitur est. Etiam dictum ligula laoreet purus lobortis, id lobortis erat consequat. Suspendisse sit amet ipsum vulputate ipsum maximus iaculis molestie ultrices erat. Donec vel magna non elit mollis mollis sed in libero. Quisque ultricies, metus non blandit aliquet, enim felis faucibus dolor, nec eleifend urna turpis vitae purus. Proin sed vehicula ligula. Maecenas et elit ac nisi interdum fringilla. Aliquam ac purus mauris. Maecenas euismod, ligula nec egestas maximus, justo velit elementum orci, vel vehicula risus velit quis arcu.
	
	Mauris et hendrerit massa. Quisque condimentum placerat mauris ac elementum. Morbi sed urna diam. Mauris volutpat mauris vel nunc sagittis, quis convallis est suscipit. Aenean eros quam, auctor vitae justo eu, mattis luctus velit. Nulla eget purus aliquam, lacinia tortor sit amet, finibus ex. Maecenas facilisis varius eros, a bibendum metus fermentum ut. Ut hendrerit metus sed volutpat faucibus. Duis nec eros sit amet ipsum accumsan luctus. Aenean a augue sit amet augue blandit accumsan ut volutpat mi. Aliquam lacinia, mi vitae molestie consectetur, tortor nibh egestas ante, eu scelerisque massa mauris eget arcu. </p>
</body>
</html>